@mixin h1 () {
	font-size: $font-size-h1-desk;
	font-weight: $font-bold;
	line-height: $line-height-h1-desk-ratio;
	color: $color-brand-1;
	margin: 0 0 $h1-indent-bottom 0;
	text-align: left;

	@media (max-width: $tablet-max) {
		font-size: $font-size-h1-tablet;
		line-height: $line-height-h1-tablet-ratio;
	}

	@media (max-width: $big-phone-max) {
		font-size: $font-size-h1-phone;
		line-height: $line-height-h1-phone-ratio;
	}
}
