@mixin h1 () {
	font-size: $font-size-h1-desk;
	font-weight: $font-bold;
	line-height: $line-height-h1-desk-ratio;
	color: $color-brand-1;
	margin: 0 0 $h1-indent-bottom 0;
	text-align: left;

	@media (max-width: $tablet-max) {
		font-size: $font-size-h1-tablet;
		line-height: $line-height-h1-tablet-ratio;
	}

  @media #{$media-big-phone} {
    font-size: $font-size-h1-big-phone;
    line-height: $line-height-h1-big-phone-ratio;
  }

	@media #{$media-small-phone} {
		font-size: $font-size-h1-small-phone;
		line-height: $line-height-h1-small-phone-ratio;
	}
}
