@mixin h2 () {
	font-size: $font-size-h2-desk;
	font-family: $font-family-base;
	font-weight: $font-normal;
	line-height: $line-height-h2-desk-ratio;
	color: $color-brand-1;
	margin-top: $h2-indent-top;
	margin-bottom: $h2-indent-bottom;
	text-align: left;

	&:first-child {
		margin-top: 0;
	}

	@media (max-width: $tablet-max) {
		font-size: $font-size-h2-tablet;
		line-height: $line-height-h2-tablet-ratio;
	}

	@media #{$media-big-phone} {
    font-size: $font-size-h2-big-phone;
    line-height: $line-height-h2-big-phone-ratio;
  }

  @media #{$media-small-phone} {
    font-size: $font-size-h2-small-phone;
    line-height: $line-height-h2-small-phone-ratio;
  }
}
