@mixin h4 () {
	font-size: $font-size-h4-desk;
	font-weight: $font-bold;
	line-height: $line-height-h4-desk-ratio;
	color: $color-brand-1;
	margin: $h4-indent-top 0 $h4-indent-bottom 0;
	text-align: left;

	&:first-child {
		margin-top: 0;
	}

	@media (max-width: $tablet-max) {
		font-size: $font-size-h4-tablet;
		line-height: $line-height-h4-tablet-ratio;
	}

	@media (max-width: $big-phone-max) {
		font-size: $font-size-h4-phone;
		line-height: $line-height-h4-phone-ratio;
	}
}
