@mixin h5 () {
	font-size: $font-size-h5-desk;
	font-weight: $font-bold;
	line-height: $line-height-h5-desk-ratio;
	color: $color-brand-1;
	margin: $h5-indent-top 0 $h5-indent-bottom 0;
	text-align: left;

	&:first-child {
		margin-top: 0;
	}

	@media (max-width: $tablet-max) {
		font-size: $font-size-h5-tablet;
		line-height: $line-height-h5-tablet-ratio;
	}

	@media #{$media-big-phone} {
    font-size: $font-size-h5-big-phone;
    line-height: $line-height-h5-big-phone-ratio;
  }

  @media #{$media-small-phone} {
    font-size: $font-size-h5-small-phone;
    line-height: $line-height-h5-small-phone-ratio;
  }
}
