.alert {
  padding: 15px;
  border: 1px solid #B5B7B8;
  background: lighten(#B5B7B8, 20%);
  &--primary {
    border: 1px solid $blue-brand-1;
    background: lighten($blue-brand-1, 30%);
  }
  &--success {
    border: 1px solid $green-brand-1;
    background: lighten($green-brand-1, 20%);
  }
  &--error {
    border: 1px solid $red-brand-1;
    background: lighten($red-brand-1, 20%);
  }
}
