.bottom-fixed {
  @media #{$media-not-phone} {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: $z-i-bottom-fixed;
    background: $grey-brand-2;
    border-top: 1px solid $grey-brand-3;
  }

  @media #{$media-phone} {
    position: relative;
  }

}
