.breadcrumbs {
  position: relative;
  margin-bottom: 2rem;
  margin-top: 2rem;
  &__list {
    margin: 0;
    padding: 0;
    display: block;
    color: #000;
  }
  &__item {
    display: inline-block;
    font-size: 13px;
    &:not(:last-child) {
      &:after {
        content: '>';
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    &--here {
      white-space: nowrap;
      &:after {
        content: '' !important;
        padding-left: 0 !important;
      }
    }
  }

  &__link {
    color: #000;
  }
}

