.button {
    display: inline-block;
    vertical-align: middle;
    height: $form-el-height;
    margin: 0;
    padding: $form-el-padding-vert $form-el-padding-hor;
    border: $form-el-border solid $button-bg;
    border-radius: $border-radius;
    font-weight: $font-normal;
    font-size: $form-el-font-size;
    line-height: $form-el-line-height;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.6px;
    background: $button-bg;
    color: $color-brand-6;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @include no-appearance();
    user-select: none;
    transition: $transition-duration;
	  text-decoration: none;
    &:hover {
        text-decoration: none;
        color: #fff;
        background: $button-bg-hover;
        border-color: $button-border-hover;
    }
    &--no-fill {
        background: transparent;
        color: $color-brand-1;
        border-color: $color-brand-1;
        &:hover {
          background: rgba(#fff, 1);
          color: $color-brand-1;
          border-color: $color-brand-1;
        }
    }
    &--blue {
        background: $blue-brand-1;
        color: #fff;
        border-color: $blue-brand-1;

        &:hover {
          background: rgba($blue-brand-1, 0.8);
          color: #fff;
          border-color: rgba($blue-brand-1, 0.8);
        }

    }
    &--isLoading {
        position: relative;
        pointer-events: none;
        cursor: default;
        color: transparent;
        opacity: 0.8;
        &:hover {
          background: $button-bg;
          border-color: $button-bg;
          color: transparent;
        }
        &:after {
          content: '';
          position: absolute;
          top: calc(50% - 11px);
          left: calc(50% - 11px);
          width: 22px;
          height: 22px;
          border-left: 3px solid transparent;
          border-right: 3px solid #fff;
          border-bottom: 3px solid #fff;
          border-top: 3px solid transparent;
          border-radius: 50%;
          animation: button-loading 600ms infinite linear;
        }
        &.button--no-fill {
          &:hover {
            background: transparent;
          }
          &:after {
            border-color: $button-bg;
            border-top-color: transparent;
            border-left-color: transparent;
          }
        }
    }
    &--small {
        font-size: $form-el-small-font-size;
        line-height: $form-el-small-line-height;
        padding: $form-el-small-padding-vert $form-el-small-padding-hor;
        height: $form-el-small-height;
    }
    &--big {
        font-size: $form-el-big-font-size;
        line-height: $form-el-big-line-height;
        padding: $form-el-big-padding-vert $form-el-big-padding-hor;
        height: $form-el-big-height;
    }
    &--fw{
	    width: 100%;
    }
    &--no-radius {
      border-radius: 0;
    }

    &__icon{
		  margin-bottom: -1px;
	    margin-right: 8px;
    }
}

@keyframes button-loading {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(359deg);
    }
}
