.cart-addr {
  width: 100%;
  border-collapse: collapse;
  &__cell {
    padding: 0;
    &--label-holder {
      padding-right: 20px;
      width: 26px;
      vertical-align: top;
    }
    &--control-holder {
      width: 100%;
    }
    &--price-holder {
      padding-left: 20px;
      width: 26px;
      vertical-align: top;
    }
  }
  &__label {
    display: inline-block;
  }
  &__label-inner {
    white-space: nowrap;
    min-height: $form-el-height;
    padding-top: calc( #{$form-el-padding-vert} + #{$form-el-border} );
  }
  &__control-holder {
    margin-bottom: 20px;
    position: relative;
  }
  &__additional {
    margin-top: 5px;
    margin-bottom: 10px;
    color: lighten(#000, 50%);
    font-size: 16px;
    p {
      margin: 0;
    }
  }
}
