.footer-menu {
  &__header {
    font-size: 1em;
    color: #fff;
    margin-bottom: 10px;
  }
  &__list {
    display:block;
    justify-content: end;
    margin: 0;
    padding: 0;
    &:last-child {
      padding-bottom: 0;
    }
  }
  &__item {
    display: block;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    line-height: 1;
  }
  &__link {
    color: #fff;
    font-size: 13px;
  }
}
