.footer {
	width: 100%;
  position: relative;
  max-width: 1920px;

	&__wrapper {
		background: #2A2A2E;

    @media #{$media-not-phone} {
      padding-left: $header-width;
    }
	}

	&__inner {
		@include content-wrapper;
	}
  &__soc-holder {
    display: flex;
    justify-content: end;
    padding: 15px 0;
  }

	&__copy-holder {
		display: inline-block;
		padding: 15px 0;
    color: #fff;
	}

  &__menu-holder {
    display: flex;
    justify-content: end;
    padding: 15px 0;
  }

}
