.lenta {
   display: flex;
  flex-wrap: wrap;

  .lenta__item {
    position: relative;
  }

  &--15px {
    .lenta__item {
      margin-top: 15px;
    }
  }

  &--top-separator {
    .lenta__item {
      &:before {
        content: '';
        position: absolute;
        left: 25px;
        right: 25px;
        top: 0;
        height: 1px;
        background: rgba($grey-brand-1, 0.5);
      }
    }
  }
}
