.main-menu {
  &__list {
    margin: 0;
    padding: 0;
    width: 100%;
    flex-basis: 100%;
  }
  &__list .main-menu__list {
    padding-left: 30px;
  }
	&__item {
		display: flex;
		width: 100%;
    flex-wrap: wrap;
	}
	&__link {
    font-size: 1.2rem;
		flex-basis: auto;
		flex-grow: 0;
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
    text-decoration: none;
    background: transparent;
    position: relative;
    color: $color-brand-1;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 50px;
      background: #CBA6A7;
      transition: all 0.2s ease 0s;
    }
		.is-not-mobile &:hover, .is-html-focus &:focus {
			&:after {
				width: 100%;
			}
    }

    .is-html-focus &:focus {
      box-shadow: 0px 0px 3px 3px rgba(#CBA6A7, 0.4);
    }

	}
	&__arrow-holder {
    display: inline-block;
    display: none;
		flex-basis: auto;
		flex-grow: 1;
		background: transparent;
		border: none;
		width: calc(16px * 1.5 + 1rem);
		border-left: 1px solid $main-menu-border-color;
	}
	&__arrow {
		display: inline-block;
		padding: 0.5rem;
		&:before {
			content: '>';
		}
	}
}
