html {
  overflow: hidden;
}
.page {
  background-color: $page-bg;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;

  &__wrapper {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: 1;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        width: 16px;
        background-color: #dbd8d4;
        @media #{$media-hd-desk} {
          background-color: #F5F5F5;
        }

        &-thumb {
          border-radius: 7px;
          box-shadow: inset 0 0 6px rgba(0,0,0,.1);
          background-color: rgba(red($blue-brand-1), green($blue-brand-1), blue($blue-brand-1), 0.3);
        }
        &-track {
          border-radius: 5px;
          box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
        }
      };
  }

  &__inner {
      background: $page-bg;
      min-height: 100%;
      display: table;
      table-layout: fixed;
      width: 100%;
      //padding-bottom: 60px;
      position: relative;

      @media #{$media-phone} {
        padding-bottom: 0;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        max-width: 1920px;
        background: $content-bg;
      }
  }

  &__header {
      height: 1px;
      display: table-row;
  }

  &__middle {
      display: table-row;
      height: 100%;

  }
  &__middle-inner {
    max-width: 1920px;
    background: $content-bg;
    min-height: 100%;
    position: relative;
  }

  &__footer {
    height: 1px;
    display: table-row;
  }
}
