html {
  .is-not-mobile & {
    @include scrollbar();
  }
  &.is-main-menu-open {
    overflow-y: hidden;
    -webkit-overflow-scrolling: auto;
  }
}
.page {
  background-color: $page-bg;
  height: 100%;
  width: 100%;
  //padding: 0;
  margin: 0;
  //overflow: hidden;

  &__wrapper {
    height: 100%;
    position: relative;
  }

  &__inner {
      background: $page-bg;
      min-height: 100%;
      display: table;
      table-layout: fixed;
      width: 100%;
      //padding-bottom: 60px;
      position: relative;

      @media #{$media-phone} {
        padding-bottom: 0;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        max-width: 1920px;
        background: $content-bg;
      }
  }

  &__header {
      height: 1px;
      display: table-row;

      @media #{$media-phone} {
        height: 60px;
      }
  }

  &__middle {
      display: table-row;
      height: 100%;

  }
  &__middle-inner {
    max-width: 1920px;
    background: $content-bg;
    min-height: 100%;
    position: relative;
  }

  &__footer {
    height: 1px;
    display: table-row;
  }
}
