.popular {
  &__inner {
    background: $grey-brand-1;
    padding-top: 60px;
    padding-bottom: 50px;
    @media #{$media-not-small-phone} {
      padding-left: 25px;
      padding-right: 25px;
    }
    @media #{$media-small-phone} {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  &__slider-holder {

  }

}
