.product {
  &__price-holder {
    @media #{$media-not-small-phone} {
      margin-top: -7px;
    }
    @media #{$media-small-phone} {
      margin-top: -13px;
    }
  }
  &__price {
    color: #000;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: bold;
    font-stretch: condensed;
  }
  &__details {
    margin-top: 15px;
    &--not-small-phone-mt0 {
      @media #{$media-not-small-phone} {
        margin-top: 0;
      }
    }
  }
  &__details-title {
    margin-bottom: 10px;
  }
  &__submit-holder {
    margin-top: 18px;
  }
  &__img-holder {
    width: 100%;
    height: 0;
    padding-top: 100%;
    background: #d6d6d6;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border: 1px solid #d6d6d6;
      z-index: 1;
    }
  }
  &__img-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
