.section {
  @media #{$media-not-phone} {
    &--index {
      padding-left: $header-width;
    }
  }

	&__header {
		padding-top: 20px;
		padding-bottom: 20px;
		background: $grey-brand-1;
	}

	&__inner {
		max-width: 1200px;
		margin: 0 auto;
		padding-left: 2*$padding-base;
		padding-right: 2*$padding-base;
    @media #{$media-small-phone} {
      padding-left: 20px;
      padding-right: 20px;
    }
	}

  &__wide {
    @media #{$media-not-small-phone} {
      padding-left: 40px;
      padding-right: 40px;
    }
    @media #{$media-small-phone} {
      padding-left: 20px;
      padding-right: 20px;
    }
  }


}
