.services {
    &__header {
      @include h1();
      text-align: center;
      display: flex;
      align-items: center;
      margin-top: 1em;
      margin-bottom: 1em;

      &:before, &:after {
        content: '';
        flex-grow: 1;
        flex-basis: auto;
        height: 2px;
        background: $color-brand-1;
        margin-right: 40px;
        margin-left: 40px;
      }
    }

    &__inner {
      padding-left: 40px;
      padding-right: 40px;
      @media #{$media-small-phone} {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      padding-right: 0;
      margin: 0;
    }

    &__item {
      position: relative;
      @media #{$media-not-small-phone} {
        border: 2px solid $blue-brand-1;
      }
      @media #{$media-small-phone} {
        border: 1px solid $blue-brand-1;
      }

    }

    &__img-holder {
      width:100%;
      padding-top: 100%;
      position: relative;
    }

    &__img {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__text-holder {
      @media #{$media-not-small-phone} {
        position: absolute;
        width: 70%;
        padding: 20px;
        bottom: 20px;
        right: -20px;
        background: #fff;
        border: 2px solid $blue-brand-1;
        box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.15);
      }
      @media #{$media-small-phone} {
        background: $blue-brand-1;
        padding: 20px;
      }
    }

    &__text {
      @media #{$media-not-small-phone} {
        color: $blue-brand-1;
      }
      @media #{$media-small-phone} {
        color: #fff;
      }

    }




}
