.title {

	&--h1 {
		@include h1();
	}
  &--h1.title--onl {
    margin-top: -1px; // не настроен
  }

	&--h2 {
	@include h2();
	}

  &--h2.title--onl{
    margin-top: -5px;
    @media (max-width: $tablet-max) {
      margin-top: -2px;
    }
    @media #{$media-big-phone} {
      margin-top: -2px;
    }
    @media #{$media-small-phone} {
      margin-top: -2px;
    }
  }

	&--h3 {
		@include h3();
	}

	&--h4 {
		@include h4();
	}

	&--h5 {
		@include h5();
	}

	&--h6 {
		@include h6();
	}

  &--pretty {
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;

    &:before, &:after {
      content: '';
      flex-grow: 1;
      flex-basis: auto;
      height: 2px;
      background: $color-brand-1;
      margin-right: 40px;
      margin-left: 40px;
      @media #{$media-small-phone} {
        margin-right: 20px;
        margin-left: 20px;
      }
    }


  }

  &--black {
    color: #000;
  }

  &--blue {
    color: #31666E;
  }

  &--green {
    color: #839831;
  }

  &--white {
    color: #fff;
  }

  &--mb0 {
    margin-bottom: 0;
  }

}
