// DIMENSIONS: WIDTHS, HEIGHTS
$padding-base: 15px;

$body-color: #000;
$body-bg: #F4F4F4;
$headings-margin-bottom: 1em;
$paragraph-margin-bottom: 1em;


// Fonts: Base styles
$font-size-base: 18px;
$font-family-base: Lato, 'Helvetica Neue', Arial, sans-serif;
$font-weight-base: normal;
$line-height-base: 1.4;
$line-height-ratio: 1.4;

$font-size-small: 0.86rem; // 13px
$font-size-extra-small: 0.8rem; //12px
$font-size-extra-small2: 0.73rem; //11px

// Fonts: Weights
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;

// FONT-SIZE
// ДЕСКТОП
$font-size-h1-desk: (60px/$font-size-base) + rem;
$font-size-h2-desk: (45px/$font-size-base) + rem;
$font-size-h3-desk: (30px/$font-size-base) + rem;
$font-size-h4-desk: (25px/$font-size-base) + rem;
$font-size-h5-desk: (20px/$font-size-base) + rem;
$font-size-h6-desk: 1rem;

$line-height-h1-desk-ratio: 0.9;
$line-height-h2-desk-ratio: 1;
$line-height-h3-desk-ratio: 1.1;
$line-height-h4-desk-ratio: 1.2;
$line-height-h5-desk-ratio: 1.3;
$line-height-h6-desk-ratio: 1.4;

// ПЛАНШЕТ
$font-size-h1-tablet: (60px/$font-size-base) + rem;
$font-size-h2-tablet: (45px/$font-size-base) + rem;
$font-size-h3-tablet: (30px/$font-size-base) + rem;
$font-size-h4-tablet: (25px/$font-size-base) + rem;
$font-size-h5-tablet: (20px/$font-size-base) + rem;
$font-size-h6-tablet: 1rem;

$line-height-h1-tablet-ratio: 0.9;
$line-height-h2-tablet-ratio: 1;
$line-height-h3-tablet-ratio: 1.1;
$line-height-h4-tablet-ratio: 1.2;
$line-height-h5-tablet-ratio: 1.3;
$line-height-h6-tablet-ratio: 1.4;

// БОЛЬШОЙ ТЕЛЕФОН
$font-size-h1-big-phone: 2.1rem;
$font-size-h2-big-phone: 1.75rem;
$font-size-h3-big-phone: 1.6rem;
$font-size-h4-big-phone: 1.35rem;
$font-size-h5-big-phone: 1.15rem;
$font-size-h6-big-phone: 0.93rem;

$line-height-h1-big-phone-ratio: 0.9;
$line-height-h2-big-phone-ratio: 1.9;
$line-height-h3-big-phone-ratio: 1.7;
$line-height-h4-big-phone-ratio: 1.6;
$line-height-h5-big-phone-ratio: 1.3;
$line-height-h6-big-phone-ratio: 1.3;

// МАЛЕНЬКИЙ ТЕЛЕФОН
$font-size-h1-small-phone: 27px;
$font-size-h2-small-phone: 1.75rem;
$font-size-h3-small-phone: 1.6rem;
$font-size-h4-small-phone: 1.35rem;
$font-size-h5-small-phone: 1.15rem;
$font-size-h6-small-phone: 0.93rem;

$line-height-h1-small-phone-ratio: 1.1;
$line-height-h2-small-phone-ratio: 1.1;
$line-height-h3-small-phone-ratio: 1.7;
$line-height-h4-small-phone-ratio: 1.6;
$line-height-h5-small-phone-ratio: 1.3;
$line-height-h6-small-phone-ratio: 1.3;

$h1-indent-top: 25px;
$h1-indent-bottom: 15px;
$h2-indent-top: 40px;
$h2-indent-bottom: 27px;
$h3-indent-top: 22px;
$h3-indent-bottom: 17px;
$h4-indent-top: 22px;
$h4-indent-bottom: 15px;
$h5-indent-top: 15px;
$h5-indent-bottom: 10px;
$h6-indent-top: 15px;
$h6-indent-bottom: 10px;

// Colors: Brand
$black: #000;
$color-brand-1: #554A46;
$color-brand-2: #9E9085;
$color-brand-3: #D2CBC1;
$color-brand-4: #556787;
$color-brand-5: #1d3456;
$color-brand-6: #fff;

// GREY COLORS
$grey-brand-1: #2A2A2E;
$grey-brand-2: #F4F4F4;
$grey-brand-3: #d6d6d6;

$red-brand-1: #ea4c3a; // не установлен
$blue-brand-1:  #3E8096; //  установлен
$green-brand-1: #92C57A; //установлен

$page-bg: #dbd8d4;
$content-bg: #F1F1F1;

$border-radius: 0px;
$border-width: 1px;
$border-gray: 1px solid $grey-brand-3;
$border-transparent: 1px solid transparent;

$table-cell-padding: 13px !default;
$table-border-color: $grey-brand-2 !default;


$brand-warning: $red-brand-1;

$header-width: 70px;

$color-bg: #f4f4f4;
$color-icon: #9ab9c9;

// Colors: Headings
$headings-color: #252b33;

// Colors: Links
$color-link: $color-brand-1;
$color-link-hover: $color-link;


// Transition
$transition-duration: 0.4s;


// SOCIAL COLORS
$vkontakte-color: #587a9f;
$facebook-color: #496194;
$twitter-color: #53a8e9;
$instagram-color: #004879;
$odnoklassniki-color: #f58220;
$google-plus-color: #dc4436;
$mail-color: #168de2;
$moimir-color: #168de2;
$livejournal-color: #09C;

// FORM ELEMENTS
$form-el-font-size: $font-size-base;
$form-el-line-height: $font-size-base*$line-height-ratio;
$form-el-padding-vert: 7px;
$form-el-padding-hor: 16px;
$form-el-border: $border-width;
$form-el-height: calc( #{$form-el-line-height} +  #{2 * $form-el-padding-vert} + #{2 * $form-el-border} );
$form-el-placeholder-color: $color-brand-1;

$form-el-big-font-size: 27px;
$form-el-big-line-height: $form-el-big-font-size*$line-height-ratio;
$form-el-big-padding-vert: 5px;
$form-el-big-padding-hor: 20px;
$form-el-big-border: $border-width;
$form-el-big-height: calc( #{$form-el-big-line-height} +  #{2 * $form-el-big-padding-vert} + #{2 * $form-el-big-border} );

$form-el-small-font-size: 14px;
$form-el-small-line-height: $form-el-small-font-size*$line-height-ratio;
$form-el-small-padding-vert: 2px;
$form-el-small-padding-hor: 10px;
$form-el-small-border: $border-width;
$form-el-small-height: calc( #{$form-el-small-line-height} +  #{2 * $form-el-small-padding-vert} + #{2 * $form-el-small-border} );

// Buttons
$button-bg: $color-brand-1;
$button-bg-hover: darken($color-brand-3, 5%);
$button-border-hover: darken($color-brand-3, 10%);

//INPUTS
$input-color-border: $grey-brand-3;
$input-color-border-focus: $color-brand-2;
$input-color-border-valid: $color-brand-2;
$input-color-border-invalid: $brand-warning;

// RADIO
$radio-color: $color-brand-3;
$radio-color-border: $grey-brand-3;

// CHECKBOX
$checkbox-color: $color-brand-3;
$checkbox-color-border: $grey-brand-3;

// MAIN MENU
$main-menu-bg-hover: $grey-brand-3;
$main-menu-border-color: $grey-brand-3;

$dt-font-weight: 400;


//== Media queries breakpoints
$grid-columns: 12;

$small-phone-min: 320px;
$small-phone-max: 640px;
$big-phone-min: 641px;
$big-phone-max: 767px;
$tablet-min: 768px;
$tablet-max: 1024px;
$small-desk-min: 1025px;
$small-desk-max: 1365px;
$medium-desk-min: 1366px;
$medium-desk-max: 1919px;
$hd-desk-min: 1920px;

$media-phone: "(max-width: #{$big-phone-max})";
$media-small-phone:  "(max-width: #{$small-phone-max})";
$media-big-phone: "(min-width: #{$big-phone-min}) and (max-width: #{$big-phone-max})";
$media-tablet: "(min-width: #{$tablet-min}) and (max-width: #{$tablet-max})";
$media-small-desk: "(min-width: #{$small-desk-min}) and (max-width: #{$small-desk-max})";
$media-medium-desk: "(min-width: #{$medium-desk-min}) and (max-width: #{$medium-desk-max})";
$media-hd-desk: "(min-width: #{$hd-desk-min})";
$media-desk: "(min-width: #{$small-desk-min})";
$media-not-phone: "(min-width: #{$tablet-min})";
$media-not-small-phone: "(min-width: #{$big-phone-min})";
$media-not-desk: "(max-width: #{$tablet-max})";

// Z-INDEX
$z-i-main-menu: 500;
$z-i-header: 600;
$z-i-bottom-fixed: 550;
